.container {
	background-color: rgb(197, 205, 219);
	min-width: 500px;
	min-height: 500px;
}
.timer_box {
	margin: 0 auto;
	background-color: rgb(63, 179, 211);
	width: 400px;
	height: 400px;
}
.btn_start {
	margin: 0 auto;
	display: block;
	width: 90px;
	height: 30px;
}